*{
  margin : 0;
}
.page {
  background:white;
  width:100%;
  min-height: 100vh;
  display: flex;
 
}
.contain{
 
  height:100%;

}
.container {
  background: white;
  width : 100%;
  min-height : 100vh;
  display: flex;
  margin-left: 80px;
 
  align-items: center;

}
.app-wrapper{
  background-color: #fff;
  min-width: 350px;
  min-height: 650;
  padding:30px;
  box-sizing: border-box;
  border-radius: 5px;
}
.title {
  color : black;
  text-align: center;

}
.name,
.phone,
.email,
.password{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.name p,
.phone p,
.email p,
.password p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}
.form-input-login{

    font-size: 0.8rem;
    margin-left: 100px;
    padding-bottom: 50px;
    color: black;
    width: 80%;
    text-align: center;
  }

.password{
  margin-bottom: 40px;

}
.input {
  height: 32px;
  font-size: 15px;
  outline:none;
  width:100%;
 
  border-top-style:none;
  border-left-style: none;
  border-right-style:none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
  

}

.forPass{
   margin-left: 200px;
   margin-bottom:40px;
}
.submit{
  display:flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color:white;
  padding:10px 60px;
  background: #61acb3;
  
  margin:auto;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;

}
button:active {
  transform: translate(2px);

}
.form-success {
  display: flex;
  justify-content: center;
  margin-top: 250;
  min-width: 370px;
  color:#f80759;
}